.bg-color {
    height: 0.5rem;
    background-color: #ebeced;
}


/*antd-mobile*/
.row {
    padding: 0 0.3rem;
    background-color: white;
}
.row-title {
    height: 1rem;
    line-height: 1rem;
    color: #888;
    font-size: 0.36rem;
    border-bottom: 1px solid #F6F6F6;
}
.row-text {
    display: inline-block;
    font-size: 0.32rem;
    line-height: 1;
}

.sl-title {
    height: 1.75rem;
    line-height: 1.75rem;
    padding-left:0.75rem;
    border-bottom:1px solid #e1e1df;
    background-color: #f8f8f8;
}
.sl-detail a {
    width: 100%;
}
.sl-detail li {
    border-bottom:1px solid #e1e1df;
    padding:0.5rem 0.75rem;
}
.sld-left {
    width:25%;
    height: 4.5rem;
    border: 1px solid #e1e1df;
}
.sld-left img {
    width:100%;
    height:100%;
}
.sld-right {
    width:75%;
    display: flex;
}

.sldr-left {
    flex:1;
    margin-left: 0.5rem;
}
.sldr-left h3 {
    color: #1a1a1a;
    line-height: 0.85rem;
}
.sldr-left h4 {
    line-height: 0.95rem;
}
.sldr-left h6 {
    line-height: 0.875rem;
}
.sldr-right {
    width:0.4rem;
    height: 4.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sldr-right img {
    width:0.4rem;
    height:0.625rem;
}

